@import url("reset.css");

body {
	font:18px/2 Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #333;
}
body a {
	color: #4e77fd;
	text-decoration: underline;
}
body a:hover {
	text-decoration: none;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header {
	padding: 30px 20px;
	border-bottom: 1px solid #000;
	background-color: #6f6f6f;
}
h1 {
	text-align: center;
	font: 700 36px/1.5 Arial, Helvetica, sans-serif;
	color: #fff;
}
.container {
	max-width: 1230px;
	padding: 80px 15px;
	margin: 0 auto;
}
h2 {
	margin-bottom: 40px;
	font: 700 24px/1.16 Arial, Helvetica, sans-serif;
	color: #fff;
	
}
.list {
	font-size: 0;
}
.list .item {
	width: 600px;
	display: inline-block;
	margin-bottom: 40px;
}
.list .image {
	display: inline-block;
	width: 200px;
	height: 200px;
	vertical-align: middle;
	line-height: 200px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
}
.list .image img {
	vertical-align: middle;
}
.list .description {
	display: inline-block;
	width: 400px;
	padding-left: 40px;
	padding-right: 20px;
	vertical-align: middle;
	font-size: 18px;
}
.list-wide {
	margin-bottom: 80px;
}
.list-wide .item {
	padding: 40px 0;
	border-top: 1px solid black;
}
.list-wide .image {
	margin-bottom: 30px;
}
.list-wide .description {
	margin-bottom: -15px;
}
.result {
	margin-bottom: 100px;
}
.result:last-child {
	margin-bottom: 0;
}
picture {
	display: block;
	margin-bottom: 50px;
}
.info-block {
	margin-bottom: 40px;
}
.info-block:last-child {
	margin-bottom: 0;
}
.info-block > * {
	margin-bottom: 20px;
}
.info-block img {
	margin-bottom: 30px;
}
.info-block > *:last-child {
	margin-bottom: 0;
}
.footer {
	padding: 25px 15px;
	text-align: center;
	font: 700 18px/1.5 Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #000;
}