
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap");

@import url("reset.css");

body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
header {
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
}
header h1 {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
}
main img {
	min-width: 100%;
}